In [ ]:
#import SparkSeccion pyspark.sql
from pyspark.sql import SparkSession

#Create my_spark
spark = SparkSession.builder.getOrCreate()

#print my_spark
print(spark)

In [ ]:

import pandas as pd
import numpy as np

# Create pd_temp
pd_temp = pd.DataFrame(np.random.random(10))

# Create spark_temp from pd_temp
spark_temp = spark.createDataFrame(pd_temp)

In [ ]:
# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView("temp")

# Examine the tables in the catalog again
print(spark.catalog.listTables())

In [ ]:
file_path = './spark-end-to-end/airports.csv'

#Read in the airports path
airports = spark.read.csv(file_path, header=True)

airports.show()

In [ ]:
type(airports)

In [ ]:
spark.catalog.listDatabases()

In [ ]:
spark.catalog.listTables()

In [ ]:
flights = spark.read.csv('./spark-end-to-end/flights_small.csv', header=True)
flights.show()

In [ ]:
type(flights)

In [11]:
flights.name = flights.createOrReplaceTempView('flights')
spark.catalog.listTables()

[Table(name='flights', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [12]:
# Create the DataFrame flights
flights_df = spark.table('flights')
print(flights_df.show())

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

None

In [19]:
# Query the 'flights' table
query_results = spark.sql("SELECT dep_time, dep_delay FROM flights WHERE origin = 'SEA'")

# Show the results of the query
query_results.show()

+--------+---------+
|dep_time|dep_delay|
+--------+---------+
|     658|       -7|
|    1040|        5|
|    1443|       -2|
|     754|       -1|
|    1655|       -5|
|    1236|       -4|
|    1812|       -3|
|    1653|       -2|
|    1120|        0|
|     811|       21|
|    2346|       -4|
|    1314|       89|
|    2015|       50|
|    1017|       -3|
|    2156|       -9|
|    2105|       15|
|     610|       -5|
|    1845|       -5|
|    1222|        5|
|    1305|       70|
+--------+---------+
only showing top 20 rows

In [20]:
query_results_df = flights_df.filter(flights.origin == 'SEA').select('dep_time', 'dep_delay')

# Show the results of the query
query_results_df.show()

+--------+---------+
|dep_time|dep_delay|
+--------+---------+
|     658|       -7|
|    1040|        5|
|    1443|       -2|
|     754|       -1|
|    1655|       -5|
|    1236|       -4|
|    1812|       -3|
|    1653|       -2|
|    1120|        0|
|     811|       21|
|    2346|       -4|
|    1314|       89|
|    2015|       50|
|    1017|       -3|
|    2156|       -9|
|    2105|       15|
|     610|       -5|
|    1845|       -5|
|    1222|        5|
|    1305|       70|
+--------+---------+
only showing top 20 rows

In [21]:
type(flights_df)

pyspark.sql.dataframe.DataFrame

In [22]:
type (flights)

pyspark.sql.dataframe.DataFrame

In [24]:
query_results = flights.filter(flights.origin == 'SEA').select('dep_time', 'dep_delay').show()

+--------+---------+
|dep_time|dep_delay|
+--------+---------+
|     658|       -7|
|    1040|        5|
|    1443|       -2|
|     754|       -1|
|    1655|       -5|
|    1236|       -4|
|    1812|       -3|
|    1653|       -2|
|    1120|        0|
|     811|       21|
|    2346|       -4|
|    1314|       89|
|    2015|       50|
|    1017|       -3|
|    2156|       -9|
|    2105|       15|
|     610|       -5|
|    1845|       -5|
|    1222|        5|
|    1305|       70|
+--------+---------+
only showing top 20 rows