In [5]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Create DataFrame

In [7]:
# list  of college data with two lists 
data = [["java", "dbms", "python"],  
        ["OOPS", "SQL", "Machine Learning"]]

In [8]:
  # giving column names of dataframe 
columns = ["Subject 1", "Subject 2", "Subject 3"]

In [9]:
# creating a dataframe 
dataframe = spark.createDataFrame(data, columns)

In [10]:
# show data frame 
dataframe.show()

+---------+---------+----------------+
|Subject 1|Subject 2|       Subject 3|
+---------+---------+----------------+
|     java|     dbms|          python|
|     OOPS|      SQL|Machine Learning|
+---------+---------+----------------+

### script

In [ ]:
# Import the necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import *

# Create a SparkSession
spark = SparkSession.builder.appName('Create DataFrame').getOrCreate()

# Define your list
data = [('Alice', 1), ('Bob', 2), ('Charlie', 3)]

# Define the schema for your DataFrame
schema = StructType([
    StructField('Name', StringType(), True),
    StructField('ID', IntegerType(), True)
])

# Create DataFrame from list
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()